* {
    box-sizing: border-box;
}

table.node-params th {
    text-align: right;
}

.kanthaus-logo {
    max-width: 1.75rem;
}

table.node-params th,
table.node-params td {
    padding: 2px 5px;
}

body {
    font-family: arial, sans-serif;
    font-size: 16px;
}

ul.nav-list {
    padding: 0;
}

ul.nav-list li {
    list-style: none;
    display: inline-block;
}

ul.nav-list a {
    display: block;
    padding: 5px 10px;
    margin: 4px;
    background-color: #eee;
    text-decoration: none;
    color: #000;
}

a.router-link-exact-active,
a.router-link-exact-active:hover {
    background-color: #333 !important;
    color: #fff  !important;
}

.UFanControl {
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
}

.UFanControl .current {
    padding: 5px 10px;
    margin-top: 5px;
    background-color: #FFDC00 ;
}

.UHeaterControl {
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
}

.error {
    color: red;
}